<%- include('includes/head.ejs') %>

<h1 class="title">Razas de perros</h1>

<form action = "/perros/nuevo" method = "POST">
	<input id="nombre" class="input is-primary" type="text" placeholder="Firulais">
	<input class="button is-success  type="submit" value="Registrar">
</form>